.container {
  flex: 1;
  padding: 20px;
  background-color: #fbf7f4;
}

.todayPlan {
  background-color: #fff;
  margin: 20px 0;
}

.taskContainer {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
